doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Next SaaS - Authentication Code

  body
    div(style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f4f4f4;')
      h1(style='color: #6a0dad; text-align: center;') 🔑 Next OPT
      p(style='color: #333; font-size: 18px; text-align: center;') 
        | Seu código de autenticação é:
        span(style='color: #6a0dad; font-weight: bold;') #{code}
      p(style='color: #555; font-size: 14px; text-align: center;') 
        | Caso não tenha conhecimento do remetente, ignore este e-mail.
      p(style='color: #333; font-size: 16px; text-align: center;') 
        | Obrigado,
      p(style='color: #6a0dad; font-weight: bold; text-align: center;') 
        | Equipe Next SaaS